img{max-width:100%;width:100%;}
.img1{height:100%;width:100%;background-image:url(./image1.jpg);background-size:cover;}
.img2{height:100%;width:100%;background-image:url(./img2.jpg);background-size:cover;}
.img3{height:100%;width:100%;background-image:url(./img3.jpg);background-size:cover;}
.content1 p{color:#fff;font-size:20px;}
.content1 {
  bottom: 125px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.btm_btn {
  bottom: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.btm_btn a {
  color: #ffffff;
  text-decoration: none;
}
.create {
  float: left;
  padding-left: 20px;
}
.login {
  float: right;
  padding-right: 20px;
}
.create > span {
  background: #e23814 none repeat scroll 0 0;
  border-radius: 20px;
  padding: 10px;
}
.login > span {
  background: #e23814 none repeat scroll 0 0;
  border-radius: 20px;
  padding: 10px 50px;
}
.slider-pager{bottom:80px !important;}
.background-bg,.background-bg .slider{height:100%;}
.slider-pager .icon:before {
  content:'';
  width:10px;
  height:10px;
  border:2px solid #fff;
   -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.slider-pager .slider-pager-page.active .icon::before{background:#fff;}
.full_back{background-color:#e23814;height:100%;}
.content1{padding:0px 30px;}
.content2{padding:40px;}
.logo img {height: 110px;width: 110px;}
.logo {text-align: center;padding-top:70px;}
.head {text-align: center;font-size:50px;color:#fff;font-weight:bold;padding-bottom:50px;}
.input_field {border-bottom: 1px solid #ee8872;margin-bottom: 10px; padding-bottom: 4px;}
.input_field input{background:transparent;}
.forgt_pss {color: #941c03;font-size: 15px;text-align: right;margin-top:0px;}
.login-btn {background: #ffffff none repeat scroll 0 0;border-radius: 26px;padding: 15px 80px;font-size:22px;display:block;text-align:center;margin-top:30px;}
.login-btn a{color:#e23814;cursor:pointer;}
.sp_or {color: #ee8872;display: block;font-size: 22px;padding: 25px 0;text-align: center;}
.social_fb .sp1{ background: #3b5998 none repeat scroll 0 0; border-radius: 50%;color: #ffffff;display: inline-block;font-size: 30px;height: 40px;text-align: center;
 width: 40px;padding-top:5px;}
.login_social {color: #ffffff;font-size: 15px;padding-left: 15px;text-transform: uppercase;display:table-cell;vertical-align:middle;}
.social_fb{text-align:center;display:table;}
.content1 h2 {font-size: 30px;color:#fff;}
.sp2 .icon{font-size:40px;}
.sp2 a{color:#fff;cursor:pointer;}
.back_arrrow{padding-bottom:60px;}
.input_field > input::-moz-placeholder{color:#fff;}
.content3{padding:20px;}
.content3 h2 {color: #ffffff;font-size: 22px; text-align: center;}
.pad_b0{padding-bottom:0px;}
.head_bar{background-color:#e23814 !important;border-bottom:none;padding:0px 23px;}
.log_btn {
  border-radius: 30px;
  color: #e23814 !important;
  font-weight: 500;
}
/*---------media-------*/
@media(max-width:360px)
{
  .create{padding-left:5px;}
  .login{padding-right:5px;}
}
