html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button, select, textarea{font-family: 'Roboto'!important;}
.fa{font-family:FontAwesome !important}
img{max-width:100%;width:100%;}
.dish-image img{max-width:100%; height:auto; width:100%;}
.img1{height:100%;width:100%;background-image:url(./image1.jpg);background-size:cover;}
.img2{height:100%;width:100%;background-image:url(./img2.jpg);background-size:cover;}
.img3{height:100%;width:100%;background-image:url(./img3.jpg);background-size:cover;}
.content1 p{color:#fff;font-size:15px;}
.content1 {
  bottom: 150px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.btm_btn {
  bottom: 25px;
  position: absolute;
  text-align: center;
  width: 100%;padding:0px 10px;
}
.btm_btn a {
  color: #ffffff;
  text-decoration: none;
}
.create {
  float: left;
  padding-left: 20px;
}
.login {
  float: right;
  padding-right: 20px;
}
.create > span {
  background: #e23814 none repeat scroll 0 0;
  border-radius: 20px;
  padding: 15px 10px;letter-spacing:1px;
}
.login > span {
  background: #e23814 none repeat scroll 0 0;
  border-radius: 20px;
  padding: 15px 55px;letter-spacing:1px;
}
.slider-pager{bottom:100px !important;}
.background-bg,.background-bg .slider{height:100%;}
.slider-pager .icon:before {
  content:'';
  width:10px;
  height:10px;
  border:2px solid #fff;
   -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.slider-pager .slider-pager-page.active .icon::before{background:#fff;}
.full_back{background-color:#e23814;height:100%;}
.full_back_slide {background-color:#e23814;}
.content1{padding:0px 60px;}
.content2{padding:30px 60px;}
/*.logo img {height: 110px;width: 110px;}*/
.logo {height: 219px;margin: 0 auto 50px;text-align: center;width: 314px;;}
.head {text-align: center;font-size:50px;color:#fff;font-weight:bold;}
.input_field {border-bottom: 1px solid #ee8872;margin-bottom: 10px; padding-bottom: 4px;}
.input_field input{background:transparent;}
.forgt_pss {margin-bottom:25px;text-align:right;margin-top:-25px}
.forgt_pss a {color: #941c03;font-size: 15px;margin-top:0px;text-decoration:none}
.login-btn {background: #ffffff none repeat scroll 0 0;border-radius: 26px;padding: 15px 80px;font-size:22px;display:block;text-align:center;margin-top:30px;}
.login-btn a{color:#e23814;cursor:pointer;}
.sp_or {color: #ee8872;display: block;font-size: 22px;padding: 10px 0 20px;text-align: center;}
.social_fb .sp1{ background: #3b5998 none repeat scroll 0 0; border-radius: 50%;color: #ffffff;display: inline-block;font-size: 30px;height: 40px;text-align: center;
 width: 40px;padding-top:5px;}
.login_social {color: #ffffff;font-size: 15px;padding-left: 15px;text-transform: uppercase;display:table-cell;vertical-align:middle;padding-bottom:5px}
.social_fb{text-align:center;}
.content1 h2 {font-size: 22px;color:#fff;}
.sp2 .icon{font-size:40px;}
.sp2 a{color:#fff;cursor:pointer;padding:5px 10px}
.sp2 a img{height:auto;width:auto}
.back_arrrow{width:100%;}
.input_field > input{width:100%;}
.content3{padding:40px 20px;}
.content3 h2,.suggest h2 {color: #ffffff;font-size: 22px; text-align: center;}
.pad_b0{padding-bottom:0px;}
.head_bar{background-color:#e23814 !important;border-bottom:none;padding:0px 23px;border:none !important;}
.log_btn {border-radius: 30px;color: #e23814 !important;font-weight: 500;text-transform:uppercase}
.txt_input input{width:100%;padding:10px;}
.register_input label{color:#fff;font-size:17px;}
.reg_btn{background:#fff ;color:#e23814;padding:0px 40px;}
.reg_dv button.activated{background:#fff;}
.reg_dv button:hover{color:#e23814;}
.reg_dv,.reg_dv1 {text-align: center;}
.orange-bg{background-color:#e23814;}
.list_item input, .content2 input {border-bottom: 2px solid;border-color:rgba(255, 255, 255, 0.4)}
.item-floating-label .input-label.has-input{color:#fff;}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff ;opacity:0.5;font-weight:300;font-size:16px;text-transform:uppercase
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
  color: #fff ;opacity:0.5;font-weight:300;font-size:16px;text-transform:uppercase
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #fff ;opacity:0.5;font-weight:300;font-size:16px;text-transform:uppercase
}
input:-moz-placeholder { /* Firefox 18- */
  color: #fff ;opacity:1;font-weight:300}
.div1 {padding:4px;-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.29);
box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.29);}
.suggest .div1 span {color: #ffffff;display: block;text-align: center;}
.suggest_foot {padding: 0;height:90px;}
.suggest_foot .tabs-positive{border-top:1px solid #e13713}
.suggest_foot .tabs-positive .tabs{background:#e23814;border-color:#e23814;}
.suggest_foot .tabs-positive .tabs a:hover{background:#fff;color:#e23814;}
.suggest_foot .tabs .tab-item{opacity:1;padding:10px 0}
.suggest_foot .tabs a span {font-size: 17px;}
.suggest_foot .tabs a{line-height:40px !important;height:100%;width:69px;border-radius:50%;display:block;margin:0 auto;position:relative}
.review  .tabs a{border-radius: 0}
.suggest_foot .tabs a.active{background-color:#e23814;}
.suggest_foot .tabs a img{display: block;left: 0;margin: 0 auto;position: absolute; right: 0;text-align: center;top:25%;}
.pro_con span {color: #ffffff;display: block;text-align: center;font-size:17px;}
.pro_con {padding: 20px 0;}
.pad_8{padding:8px;}
.profile_h2 { padding-left: 8px;text-align: left !important;}
.brdr_rad5{border-radius:5px;}
.back_arrrow .sp2{float:left;padding-top:12px;}
.back_arrrow h2 {color: #ffffff;font-size: 24px;margin: 0 auto;padding-top: 9px;text-align: center;}
.search_tb {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;padding:0px;}
.action_btn{text-align:right;}
.slider-pager .slider-pager-page{margin:0px;}
.back_arrrow a{text-decoration:none;}
.back_arrrow a i{font-size:30px}
.content2 label.sign_lbl{padding-left:0px;margin:15px 0}
.pop_bar{background:#e23814 !important;border-bottom:none;}
.sel_tag {color: #ffffff;font-size: 25px;text-align: center;}
.selector_pop {margin: 30px auto;width: 70%;}
.selector_pop ul {border: 2px solid #a0a0a0;}
.selector_pop ul a {color: #ffffff;text-decoration: none;padding:5px 10px;}
.reg_dv1 .log_btn {border-radius: 5px; padding: 0 20px;}
.selector_pop ul li.active{background:#fff;margin-bottom:5px;}
.selector_pop ul li.active a{color:#e23814;}

/*****14-10-2016*****/
.icon-wrap {position:relative;}
.icon-top{width:42px;height:29px;text-align:center;float:left;position:absolute;left:-5px;top:20px}
.icon-top.key{top:22px}
.icon-wrap input{padding-left:42px;padding-right:0}
.icon-top img{width:auto;height:auto;float:none;margin:0 auto;}
.icon-top.user img{height:20px;width:20px}
.icon-wrap > img{top:9px;left:4px;position:absolute}
.register_input.register-form label{padding:15px 0}
.register-form .list_item input{border-bottom:1px solid;border-color:rgba(158, 39, 14, 0.3)}
.suggest{background:#fff}
.log_btn{font-size:22px}

.suggest_foot img{width:auto;margin-top:7px}
.yellow-star{color:#ffda44}
.rating-value span i{font-size:16px}
.outline-star{color:#b7b7b7}
.rating-value span:first-of-type{float:left;width:75%}
.rating-value span:last-of-type{float:left;width:25%;font-size:13px;color:#777170;line-height:5px;}
.rating-value{float:left;width:100%;clear:both}
.dish-name{color:#777170;font-size:14px;font-weight:500;width:100%;overflow:hidden; text-overflow: ellipsis;white-space: nowrap;margin-bottom:0}
.resturant-name{color:#777170;font-size:13px;font-weight:300;margin-bottom:0}
.dish-view a{opacity:1}
.center-btn{  border: 11px solid #e23814;border-radius: 50%;height: 90px;margin:0 auto;width: 90px;}
.btn-wrap {border-radius: 50%;box-shadow: 0 0 0 0 rgba(250, 80, 54, 0.4) inset, 0 0 0 16px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1);cursor: default;
    height: 100%;position: relative;transition: all 0.4s ease-in-out 0s;width: 100%;}
.btn-wrap:hover{ box-shadow: 0 0 0 110px rgba(250, 80, 54, 0.4) inset, 0 0 0 16px rgba(255, 255, 255, 0.8) inset, 0 1px 2px rgba(0, 0, 0, 0.1);}
.btn-row{float:left;width:100%;text-align:center;padding:60px 0}
.tabs{height:90px}
.no-padding{padding:0}
.search-input{border-right:1px solid #d2d0d0}
.search-input input::-moz-placeholder{color:#8d8d8d;text-transform:capitalize;font-size:18px;font-weight:400;opacity:1}
.search-input input::-webkit-input-placeholder{color:#8d8d8d;text-transform:capitalize;font-size:18px;font-weight:400;opacity:1}
.search-input input::-ms-input-placeholder{color:#8d8d8d;text-transform:capitalize;font-size:18px;font-weight:400;opacity:1}
.search-icon{width:auto;position:absolute;top:16px}
.search-input input{padding:0 0 0 30px}
.search-select{ border:none;height: 100%; width: 100%;color:#8d8d8d;font-size:18px;font-weight:400}
.select-style {padding: 0;margin: 0;overflow: hidden;background: #fff url(./drop-down.png) no-repeat 90% 50%;height:100%}
.user-img img{height:35px;width:35px;border-radius:50%}
.user-rate{float:left;width:100%;}
.user-rate > span{float:left;width:40%}
.user-rate .icon{float:left;margin-right:2px;font-size:16px}
.user-rate .icon.ion-ios-star-outline{color:#bfbfbf}
.user-rate .icon.ion-ios-star{color:#ffda44}
.user-rate > .user-name{float:left;width:60%}
.user-name span{font-size:16px;color:#777170!important;font-weight:300}
.user-name > span{width:75%;float:left}
.user-name > .user-img{width:25%;float:left;margin-top:-5px}
.post-date {color: #bbb7b6;font-size: 15px;margin:0}
.feed > .row{margin-bottom:10px}
.fill-content{padding:5px 0;border-radius:5px;background-color:#F2DEDE;text-align:center;width:100%}
.fill-content p{margin:0;color:#a94442}
.htl-name{width:60%;float:left;padding:5px}
.htl-rates{width:40%;float:left;padding:5px}
.resturant-detail h3{color:#e23814;font-size:27px;margin-bottom:-5px;font-weight:500}
.resturant-detail p{padding-left:30px;color:#777170;font-size:16px;margin-bottom:0;float:left;width:100%}
.resturant-detail h3 span{margin-right:18px}
.resturant-detail h3 span i{color:#777170}
.resturant-rate .ion-ios-star{color:#ffda44;font-size:22px}
.resturant-rate .ion-ios-star-outline{color:#bdbdbd;font-size:22px}
.user-image{float:left;width:30%}
.user-detail {float:left;width:33%;text-align:center;}
.user-detail h3{color:#777170;font-weight:300;font-size:33px}
.user-detail p{color:#9c9998;font-weight:500;font-size:18px}
.user-name h5{color:#777170;font-size:14px;margin:0;font-weight:500}
.user-del p{color:#9c9998;font-size:14px;margin:0}
.your-post{margin:0;color:#777170;font-size:18px;text-transform:uppercase}
.search-bg{background-color:#f9f9f9}
.edit-btn img{height:auto;width:auto}
.edit-btn{background-color:#fff}
.has-footer {
    bottom: 75px;
}
.user-rate > span > img , .rating-value > span > img{
    float: left;
    margin-bottom: 5px;
    width: auto !important;
    height:14px;width:15px
}
.globe-on{background:url(./tab1.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}
.globe-off{background:url(./tab1-hover.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}

.search-on{background:url(./tab2.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}
.search-off{background:url(./tab2-hover.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}

.dish-on{background:url(./tab3-hover.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}
.dish-off{background:#e23814 url(./tab3.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}

.feed-on{background:url(./tab4.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}
.feed-off{background:url(./tab4-hover.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}

.user-on{background:url(./tab5.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}
.user-off{background:url(./tab5-fill.png);background-repeat: no-repeat;background-position: 50%;height: 100%; background-size:contain;}
.tab-item {
    border-radius: 50%;
    float: none;
    height: 52px;
    margin: 3px auto;padding:9px 7px 8px;
    max-width: 52px !important;
    width: 52px !important;
}


.tabs{height:59px;padding:0 8px}
.fb_btn{width:100%;background-color:#475993!important;color:#fff!important;font-size:16px!important}
.fb_btn img{width:8px;height:15px}
.fb_btn span{vertical-align:middle;margin-right:7px}
.star-img{margin-top:10px}
.star-img > img {width: 25px;}
.read-more{text-align:left!important}
.read-more a{color:#E23814;text-decoration:none;}
.user-profile .row{display:block;clear:both}
.content-wrap{float:left;width:70%}
.user-profile{background-color:#f9f9f9}
.edit-btn{border-radius:40px;color:#e23814!important;font-size:22px;text-transform:uppercase;padding-top:4px}
.edit-btn span{margin-right: 15px;vertical-align: middle;}
.validation-invalid {
    color: #3a0900;
    font-size: 14px;
}
.tabs .tab-item.active{background:#e23814;}
.bttn-wrap{clear:both;padding-left:3px}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{border:none 0 transparent!important;margin-top:3px!important;}
.has-tabs, .bar-footer.has-tabs{bottom:60px}

/*****25-10-2016*****/
.slide-wrap{float:left;width:100%;clear:both;text-align:center;}
.slide-wrap h3{color:#e23814;font-size: 17px;margin:5px 0 0}
.next-btn{background-color:#e23814;border-radius: 25px;text-align:center;float:none;clear: both;color: #fff;display:block;font-size:18px; margin:3px auto 10px;padding: 10px 0;text-decoration: none;text-transform: uppercase; width: 130px;}
.next-btn:hover{background-color:#ddd;color:#e23814}

.dsh-img{height: 210px;}
.reviews .dsh-img{height:auto}
.reviews-final .dsh-img{height: 110px;width: 145px;}
.dsh-img img{height:100%}
.review-form{margin:15px 0 0}
.review-form .icon-top{top:10px;height:27px;display:block;position:static;width:10%;float:left}
.edit-profile .toggle .icon-top{width: 27%;margin-right: 7px;}
.review-form .icon-wrap{width:87%;display:block;float:left;}
.review-form .location{top:12px;height:27px}
.review-form input{border-bottom:1px solid;border-color:rgba(0, 0, 0, 0.4)}
.review-form .icon-wrap input{margin-left: 10px;padding-left: 3px;}
.rate-box {text-align:center;margin-bottom:25px}
.rate-box a{display:inline-block;float:none;text-align:center;}
.rate-box a img{height:100%;width:auto}
.comments textarea{height:50px;background-color:transparent;border-bottom:1px solid;border-color:rgba(0, 0, 0, 0.4);  border-color: rgba(0, 0, 0, 0.4); margin-left: 28px;    padding-left: 3px;    padding-top: 0;}
.responsive {padding: 5px;width: 100%;}
.slick-slide img{width:auto}
.review-form input::-moz-placeholder, .review-form textarea::-moz-placeholder{color: #aaa ;opacity:0.9;text-transform:uppercase;font-weight:300;font-size:16px;}
.review-form input:-ms-input-placeholder, .review-form textarea:-ms-input-placeholder { color: #aaa ;opacity:0.9;font-weight:300;font-size:16px;text-transform:uppercase}
.review-form ::-webkit-input-placeholder , .review-form textarea::-webkit-input-placeholder { color:  #aaa;opacity:1;text-transform:uppercase;font-weight:300;font-size:16px;}
.review-form input:-moz-placeholder { color:  #aaa;opacity:1;font-weight:300}
.no-suggestion{height:100%;text-align:center;position:relative;top:0;bottom:0;left:0;right:0}
.no-content{position:absolute;left:0;top:35%;transform:translateY(50%);right:0}
.no-content h4{font-size:28px;margin-bottom:5px;color:#777170}
.no-content p{font-size:21px;color:#777170;font-weight:300}
.user-del{padding: 0 5px}
.center-img img{border-radius: 50%;height: 140px;width: 140px;}
.center-img{text-align:center}
.center-img a{text-decoration:none}
.center-img a:hover{color:#444}
.switch-notify .toggle-balanced{margin-top:0px}
.switch-notify .toggle .track{height:25px}
.switch-notify .toggle .handle{  height: 22px;left: 41px;top: 6px;}
.switch-notify .track, .switch-notify .handle{margin-left:10px}
.switch-notify .toggle-balanced img{width:25px;height:24px;margin-left:7px}
.notify{vertical-align:middle}
.switch-notify .icon-top {padding-top: 8px;}
.switch-notify .toggle-balanced .icon-top {padding-top: 0;}
.changepass{text-decoration:none;text-align:center}
.changepass:hover{color:#444}
.edit-profile{margin: 0}
.user-wrap{float:left;width:100%}
.user-detl{float:left;width:70%}
.like-share{float:left;width:30%}
.user-wrap p {color: #333;font-size: 15px;font-weight: 500;margin: 0 0 5px;text-transform: uppercase;}
.like-share img{height:auto;width:20px}
.user-wrap .rate-box {text-align:left;margin:0}
.user-wrap .rate-box a{width:22px;}
.like-share {display: inline-block;float: left;margin-top: 5px;text-align: right;}
.restro-detail .dish-image img{height:180px}
.restro-detail .resturant-detail h3{font-size:16px}
.restro-detail .resturant-detail h3 span{margin-right:6px}
.restro-detail .resturant-detail h3 span i{font-size:20px}
.play-video{position:relative;text-align:center}
.play-video a{display:inline-block;left:0;right:0;text-align:center;top:40%;position:absolute;width:50px;height:50px;margin:0 auto;float:none}
.rate-box .ngrateit-star{
  background-size: 30px;
}
.pac-container:after{display:none !important;}
.left-icon img { width: auto; height: auto;}

.icon-wrap textarea{margin-left:10px;border-bottom:1px solid rgba(0, 0, 0, 0.4)}
.dsh-del{float:left;width:50%;padding:0 10px}
.dsh-del .left-icon {display: inline-block;height: 27px;vertical-align: middle;margin-right: 5px}
.reviews-final .next-btn{width:150px}
.content-box p{margin:0}
.dsh-del .rate-box{margin:0}
.comments .icon-wrap{float:left;width:100%}
.comments textarea{float:left;width:85%;margin:0 0 0 5px}
.review-form .item-input{padding:6px 0}
.log-form .icon-top{top:8px;}
.register-form .icon-top{top:4px;}
.no-record{color:#9c9998;font-size: 14px;margin-left: 5px}
.no-cnt, .h-auto{height:auto;}

/*Tithi 10-11-2016*/
.nxt{float: left;
    width: 13%;
    text-align: right;
    display: inline-block;
    margin: 11px  0 0;
    color: #fff;}
.nxt a{color:#fff;font-size: 16px}
.next-bar h2{float:left;width:73%;}
.change-pass img{width: 28px!important}
.mobi-50{float: left;width: 50%}
.icn-wrap{display: table;height: 55px;text-align: center;
    vertical-align: middle;
    width: 100%;}
    .top-wrap{border: 2px solid #eee;border-radius:4px;
}
.icon-img{    display: table-cell;vertical-align: middle;
    height: 90px;
    width: 100%;}
.icon-img img{max-width:100%;height:auto;width:auto;}
.review-icons p{    font-size: 14px;
    color: #555;
    font-weight: 600;
    margin-top: -20px;
}
.review-icons{position: absolute;left: 0;right: 0;top:0px;   text-align: center;
    
}
.reviw-box{position: relative;}
/*---------media-------*/
@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx){
  .bar{background-size:100% 0px}
  }
@media(max-width:480px){
  .star-img > img {width: 20px;}
  .no-content h4{font-size:18px}
  .no-content p{font-size:14px}
  }
@media(max-width:460px){
  .logo {height: 125px;width:165px}
  .resturant-detail h3{font-size:22px}
  .feed .resturant-name{max-height:22px;overflow:hidden}
  .edit-btn{font-size:18px}
  .reviews-final .dsh-img{height: 154px;width: 50%;}
}
@media(max-width:420px){
    .rating-value span i{font-size:14px}
    .btn-row{padding:20px 0}
    .suggest_foot{height:75px}
    .suggest_foot .tabs a{width:54px}
    .suggest_foot .tabs a.active img{height: 25px;width: 36px;}
    .user-rate > span, .user-rate > .user-name{float:left;width:100%}
    .user-name > span{float:right}
    .resturant-detail .row{display:block}

    .back_arrrow h2{font-size:20px}
    .user-detail h3{font-size:24px}
    .user-detail p{font-size:14px}
  
    .star-img > img {width: 14px;}
   .user-rate .user-name{margin-top:5px}
   .user-name > .user-img{width:15%}
  }
@media(max-width:360px)
{
  .feed .resturant-name{max-height:16px;}
  .create{padding-left:5px;font-size:14px;}
  .login{padding-right:5px;font-size:16px;} 
  .log_btn{font-size:18px}
  .rating-value span{width:100%!important;text-align:left!important}
  .resturant-name{font-size:12px}
  .back_arrrow h2{font-size:18px}
  .logo{margin:0 auto}
  .user-name h5{font-size:18px}
  .user-del p{font-size:14px}
  .login > span{padding:15px 45px}
  .post-date, .read-more{font-size:12px;margin-top:-5px}
  .resturant-name{line-height:15px; max-height: 30px;}
  .star-img {margin-top: 0;}
  .edit-btn, .user-detail h3{margin:0!important}
  .reviews-final .dsh-img{height: 90px;width: 90px;}
  .resturant-detail h3{font-size:18px}
  .resturant-detail p{margin-left:0px;}
  .htl-name p{font-size:13px;  margin-left: 26px;}
 

}
@media(max-width:320px){
  .pro_con span{font-size:13px;}
  .content1 h2{font-size:20px;}
  .content1 p{font-size:13px;}
  .create > span { padding: 10px;font-size:11px;}
  .login > span { padding: 10px 50px;font-size:11px;}
  .head{font-size:42px;}
  .logo img{height:100px;width:125px;}
  .log_btn {line-height:40px;min-height:33px;}
  .sp_or { padding: 14px 0 20px;font-size:16px;}
  .login_social{font-size:11px;}
  .social_fb .sp1 {font-size: 30px; height: 35px;text-align: center;width: 35px;}
  .sp1 i.icon {font-size: 20px;}
  .slider-pager{bottom:110px !important;}
  .star-img > img {width: 13px;}
  .edit-btn{fotn-size:15px;height:35px;line-height:35px}
  .edit-btn img{height:20px;width:20px}
  .fb_btn{font-size:14px!important;}
  .user-name > .user-img{width:17%}
  .fb_btn img {height: 14px; width: 10px;}
}