<ion-view view-title="Change Password">
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="bar bar-header bar-light head_bar">
      <div class="back_arrrow">
        <span class="sp2"><a ui-sref="settings"><img src="left-arrow.png" alt=""/></a></span>
        <h2>Change Password</h2>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="full_back suggest reviews">
      <form name="Form" ng-submit="password.update(Form)">
      <div class="row">
        <div class="col">
          <div class="review-form edit-profile">
            <div class="list list_item switch-notify">
              <label class="item-input item-floating-label">
                <span class="icon-top user change-pass"><img src="./key.png" alt="" ></span>
                <span class="icon-wrap">
                  <input type="password" placeholder="Current Password" ng-model="password.formData.curr_passwd" required-error-message="This field is required!" validator="required, passwdValidator">
                </span>
              </label>
              <label class="item-input item-floating-label">
                <span class="icon-top user change-pass"><img src="./key.png" alt="" ></span>
                <span class="icon-wrap">
                  <input type="password" placeholder="New Password" ng-model="password.formData.new_passwd" required-error-message="This field is required!" validator="required, passwdValidator">
                </span>
              </label>
              <label class="item-input item-floating-label">
                <span class="icon-top user change-pass"><img src="./key.png" alt="" ></span>
                <span class="icon-wrap">
                  <input type="password" placeholder="Confirm New Password" ng-model="password.formData.repeat_passwd" required-error-message="This field is required!" validator="required, confirmPasswd">
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="next-btn" ng-click="password.update(Form)">Update</a>
      </form>
    </div>
  </ion-content>  
</ion-view>