<ion-view view-title="Dish Detail">
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="bar bar-header bar-light head_bar">
        	 <div class="back_arrrow">
        		<span class="sp2"><a ng-click="dish.previousView()"><img src="/left-arrow.png" alt=""/></a></span>	
               	<h2>{{dish.dishDetail.name}}</h2>
        	 </div>
		</div>
	</ion-header-bar>
	<ion-content>
		<div ng-if="dish.dishDetail" class="full_back suggest feed">
        	<div class="dish-image">
            	<img ng-if="dish.dishDetail.videoThumb" src="{{dish.rootUrl}}/{{dish.dishDetail.videoThumb}}"/>
                <img ng-if="dish.dishDetail.imageId" src="{{dish.rootUrl}}/uploads/dishes/{{dish.dishDetail.imageId}}.{{dish.dishDetail.extension}}"/>
            </div>
            <div class="resturant-detail">
                <div class="row">
                    <div class="col">
                        <h5 class="dish-title">{{dish.dishDetail.name}}</h5>
                    </div>
                </div>
            	<div class="row">
                	<div class="mobi-50-dish">
                    	<h3 ng-click="dish.redirectTo(dish.dishDetail.restaurant.placeId)">{{dish.dishDetail.restaurant.name}}</h3>
                        
                    </div>
                    <div class="mobi-50-rates">
                    	<div class="resturant-rate text-right">
                            <span class="star-img">
                                <img ng-repeat="i in dish.getNumber(dish.dishDetail.restaurant.rating) track by $index" src="/fill-star.png" alt=""/>
                                <img ng-if="dish.checkHalfStar(dish.dishDetail.restaurant.rating)" src="/half-star.png" alt=""/>
                                <img ng-repeat="i in dish.printEmptyStar(dish.dishDetail.restaurant.rating) track by $index" src="/empty-star.png" alt=""/>
                            </span>
                           <p class="marker-wrap"><span class="locatio-pin"><i class="icon ion-location"></i></span>{{dish.uptoDecimal(dish.dishDetail.distance)}}mi</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col">
                    	<p>{{dish.dishDetail.restaurant.address}}</p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col text-center">
                        <a ng-if="dish.dishDetail.uploadedBy != currentUser._id && !dish.reviewGiven(dish.dishDetail.reviews)" href="javascript:void(0);" class="next-btn" ng-click="dish.addReview()">Add Review</a>
                    </div>
                </div> -->
            </div>
			<div class="row" ng-repeat="post in dish.dishDetail.reviews">
            	<div class="col div1">
                	<div class="row">
                    	<div class="col col-33">
                        	<div class="side-image-wrap">
                            	<img ng-if="post.videoThumb" src="{{dish.rootUrl}}/  {{post.videoThumb}}"/>
                                <img ng-if="post.imageId" src="{{dish.rootUrl}}uploads/dishes/{{post.imageId}}.{{post.extension}}"/>
                        	</div>
                            <span class="star-img">
                                <img ng-repeat="i in dish.cardNumber(post.rating) track by $index" src="/fill-star.png" alt=""/>
                                <img ng-if="dish.cardCheckHalfStar(post.rating)" src="/half-star.png" alt=""/>
                                <img ng-repeat="i in dish.cardPrintEmptyStar(post.rating) track by $index" src="/empty-star.png" alt=""/>
                           </span>
                    	</div>
                    	<div class="col col-67">
                        	<div class="user-rate">
                               
                               <span class="pull-right user-name" ng-click="dish.redirectToUser(post.uploadedBy)">
                                    <span class="user-img">
                                        <img ng-if="!post.avatar" src="/user_none.png" alt="" />
                                        <img ng-if="post.avatar" src="{{dish.rootUrl}}{{post.avatar}}" alt="" />
                                    </span>
                                    <span class="user-title">{{post.username}}</span>
                                    
                               </span>
                        	</div>
                            <p class="dish-name">{{dish.dishDetail.name}}</p>
                            <p class="res-nam"> {{dish.dishDetail.restaurant.name}}</p>
                            <p class="resturant-name">{{post.comment}}</p>
                            <p class="post-date">Posted: {{dish.postedTime(post.dateMillisecond)}}</p>
                    	</div>
                    </div>
                </div>
			</div>
            <div class="row" ng-if="dish.dishDetail">
                <div class="col div1">
                    <div class="row">
                        <div class="col col-33">
                            <div class="side-image-wrap">
                                <img ng-if="dish.dishDetail.videoThumb" src="{{dish.rootUrl}}/{{dish.dishDetail.videoThumb}}"/>
                                <img ng-if="dish.dishDetail.imageId" src="{{dish.rootUrl}}uploads/dishes/{{dish.dishDetail.imageId}}.{{dish.dishDetail.extension}}"/>
                            </div>
                            <span class="star-img">
                                <img ng-repeat="i in dish.cardNumber(dish.dishDetail.rating) track by $index" src="/fill-star.png" alt=""/>
                                <img ng-if="dish.cardCheckHalfStar(dish.dishDetail.rating)" src="/half-star.png" alt=""/>
                                <img ng-repeat="i in dish.cardPrintEmptyStar(dish.dishDetail.rating) track by $index" src="/empty-star.png" alt=""/>
                           </span>
                        </div>
                        <div class="col col-67">
                            <div class="user-rate">
                               
                               <span class="pull-right user-name" ng-click="dish.redirectToUser(post.uploadedBy)">
                                    <span class="user-img">
                                        <img ng-if="!dish.dishDetail.avatar" src="/user_none.png" alt="" />
                                        <img ng-if="dish.dishDetail.avatar" src="{{dish.rootUrl}}{{dish.dishDetail.avatar}}" alt="" />
                                    </span>
                                    <span class="user-title">{{dish.dishDetail.username}}</span>
                                    
                               </span>
                            </div>
                            <p class="dish-name">{{dish.dishDetail.name}}</p>
                            <p class="res-nam"> {{dish.dishDetail.restaurant.name}}</p>
                            <p class="resturant-name">{{dish.dishDetail.comment}}</p>
                            <p class="post-date">Posted: {{dish.postedTime(dish.dishDetail.dateMillisecond)}}</p>
                        </div>
                    </div>
                </div>
            </div>
   		</div>
	</ion-content>
</ion-view>
