<ion-view view-title="Dish Detail">
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="bar bar-header bar-light head_bar">
        	 <div class="back_arrrow">
        		<span class="sp2"><a ui-sref="tab.suggestion"><img src="./left-arrow.png" alt=""/></a></span>	
               	<h2>Tasty chicken tacos with cheese</h2>
        	 </div>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="full_back suggest feed">
        	<div class="dish-image">
            	<img src="./dish-view.png" alt="" />
            </div>
            <div class="resturant-detail">
            	<div class="row">
                	<div class="mobi-50">
                    	<h3><span class="locatio-pin"><i class="icon ion-location"></i></span>KFC Restaurant</h3>
                        <p>2mi</p>
                    </div>
                    <div class="mobi-50">
                    	<div class="resturant-rate text-right">
                        	<span>
                                <i class="icon ion-ios-star"></i>
                                <i class="icon ion-ios-star"></i>
                                <i class="icon ion-ios-star"></i>
                                <i class="icon ion-ios-star-outline"></i>
                                <i class="icon ion-ios-star-outline"></i>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col">
                    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
			<div class="row">
            	<div class="col div1">
                	<div class="row">
                    	<div class="col col-33">
                        	<div class="side-image-wrap">
                            	<img src="./d1.png" alt=""/>
                        	</div>
                    	</div>
                    	<div class="col col-67">
                        	<div class="user-rate">
                                <span>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                               </span>
                               <span class="pull-right user-name">
                                    <span>Z. Ibrahimović</span>
                                    <span class="user-img"><img src="./user1.png" alt=""/></span>
                               </span>
                        	</div>
                            <p class="dish-name">Tasty chicken tacos, KFC Restaurant</p>
                            <p class="resturant-name">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu.</p>
                            <p class="post-date">Posted: 10/10/2016</p>
                    	</div>
                    </div>
                </div>
			</div>
        	<div class="row">
            	<div class="col div1">
                	<div class="row">
                    	<div class="col col-33">
                        	<div class="side-image-wrap">
                            	<img src="./d1.png" alt=""/>
                        	</div>
                    	</div>
                    	<div class="col col-67">
                        	<div class="user-rate">
                                <span>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                               </span>
                               <span class="pull-right user-name">
                                    <span>Z. Ibrahimović</span>
                                    <span class="user-img"><img src="./user1.png" alt=""/></span>
                               </span>
                        	</div>
                            <p class="dish-name">Tasty chicken tacos, KFC Restaurant</p>
                            <p class="resturant-name">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu.</p>
                            <p class="post-date">Posted: 10/10/2016</p>
                    	</div>
                    </div>
                </div>
			</div>
            <div class="row">
            	<div class="col div1">
                	<div class="row">
                    	<div class="col col-33">
                        	<div class="side-image-wrap">
                            	<img src="./d1.png" alt=""/>
                        	</div>
                    	</div>
                    	<div class="col col-67">
                        	<div class="user-rate">
                                <span>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                               </span>
                               <span class="pull-right user-name">
                                    <span>Z. Ibrahimović</span>
                                    <span class="user-img"><img src="./user1.png" alt=""/></span>
                               </span>
                        	</div>
                            <p class="dish-name">Tasty chicken tacos, KFC Restaurant</p>
                            <p class="resturant-name">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu.</p>
                            <p class="post-date">Posted: 10/10/2016</p>
                    	</div>
                    </div>
                </div>
			</div>
            <div class="row">
            	<div class="col div1">
                	<div class="row">
                    	<div class="col col-33">
                        	<div class="side-image-wrap">
                            	<img src="./d1.png" alt=""/>
                        	</div>
                    	</div>
                    	<div class="col col-67">
                        	<div class="user-rate">
                                <span>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                               </span>
                               <span class="pull-right user-name">
                                    <span>Z. Ibrahimović</span>
                                    <span class="user-img"><img src="./user1.png" alt=""/></span>
                               </span>
                        	</div>
                            <p class="dish-name">Tasty chicken tacos, KFC Restaurant</p>
                            <p class="resturant-name">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu.</p>
                            <p class="post-date">Posted: 10/10/2016</p>
                    	</div>
                    </div>
                </div>
			</div>
            <div class="row">
            	<div class="col div1">
                	<div class="row">
                    	<div class="col col-33">
                        	<div class="side-image-wrap">
                            	<img src="./d1.png" alt=""/>
                        	</div>
                    	</div>
                    	<div class="col col-67">
                        	<div class="user-rate">
                                <span>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                               </span>
                               <span class="pull-right user-name">
                                    <span>Z. Ibrahimović</span>
                                    <span class="user-img"><img src="./user1.png" alt=""/></span>
                               </span>
                        	</div>
                            <p class="dish-name">Tasty chicken tacos, KFC Restaurant</p>
                            <p class="resturant-name">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu.</p>
                            <p class="post-date">Posted: 10/10/2016</p>
                    	</div>
                    </div>
                </div>
			</div>
            <div class="row">
            	<div class="col div1">
                	<div class="row">
                    	<div class="col col-33">
                        	<div class="side-image-wrap">
                            	<img src="./d1.png" alt=""/>
                        	</div>
                    	</div>
                    	<div class="col col-67">
                        	<div class="user-rate">
                                <span>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                                    <i class="icon ion-ios-star-outline"></i>
                               </span>
                               <span class="pull-right user-name">
                                    <span>Z. Ibrahimović</span>
                                    <span class="user-img"><img src="./user1.png" alt=""/></span>
                               </span>
                        	</div>
                            <p class="dish-name">Tasty chicken tacos, KFC Restaurant</p>
                            <p class="resturant-name">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu.</p>
                            <p class="post-date">Posted: 10/10/2016</p>
                    	</div>
                    </div>
                </div>
			</div>
   		</div>
	</ion-content>
</ion-view>
