<ion-view view-title="Feed">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="bar bar-header bar-light head_bar">
             <div class="back_arrrow">
                <h2>Feed</h2>
             </div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="full_back suggest feed">
            <div ng-if="feed.posts != 'Loading'" class="row" ng-repeat="post in feed.posts">
                <div class="col div1">
                    <div class="row">
                        <div class="col col-33">
                            <div class="side-image-wrap">
                                <img ng-if="post.videoThumb" src="{{feed.rootUrl}}/  {{post.videoThumb}}"/>
                                <img ng-if="post.imageId" src="{{feed.rootUrl}}uploads/dishes/{{post.imageId}}.jpeg"/>
                            </div>
                            <span class="star-img">
                                <img ng-repeat="i in feed.getNumber(post.averageReview) track by $index" src="/fill-star.png" alt=""/>
                                <img ng-if="feed.checkHalfStar(post.averageReview)" src="/half-star.png" alt=""/>
                                <img ng-repeat="i in feed.printEmptyStar(post.averageReview) track by $index" src="/empty-star.png" alt=""/>
                           </span>
                        </div>
                        <div class="col col-67">
                            <div class="user-rate">
                               
                               <span class="pull-right user-name" ng-click="feed.redirectTo(post.uploadedBy)">
                                    <span class="user-img">
                                        <img ng-if="!feed.userName(post.uploadedBy).avatar" src="/user_none.png" alt="" />
                                        <img ng-if="feed.userName(post.uploadedBy).avatar" src="{{feed.rootUrl}}{{feed.userName(post.uploadedBy).avatar}}" alt="" />
                                    </span>

                                    <span class="user-title">{{feed.userName(post.uploadedBy).fname}}. {{feed.userName(post.uploadedBy).lname}}</span>
                               </span>
                            </div>
                            <p class="dish-name">{{post.name}}</p>
                            <p class="res-nam">{{post.restaurant.name}}</p>
                            <p class="resturant-name">{{post.comment}}</p>
                            <p class="post-date">Posted: {{feed.postedTime(post.dateMillisecond)}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll distance="1"
                on-infinite="feed.loadMore()"
                ng-if="!moredata">
            </ion-infinite-scroll>
            <div class="no-suggestion" ng-if="feed.posts.length == 0">
                <div class="no-content">
                    <h4>No posts currently available</h4>
                </div>
            </div>
            <div class="no-suggestion" ng-if="feed.posts === 'Loading'">
                <div class="no-content">
                    <h4>Loading...</h4>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
