<ion-view view-title="Post Review">
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="bar bar-header bar-light head_bar">
        	 <div class="back_arrrow">
        		<span class="sp2"><a ui-sref="location"><img src="./left-arrow.png" alt=""/></a></span>	
               	<h2 class="logo-ig"><img src="./thedish.png"></h2>
        	 </div>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="full_back suggest reviews-final">
        	<div class="row">
            	<div class="dsh-img" ng-if="content.dishImage">
                    <img src="{{content.dishImage}}" alt="" />
                </div>
                <div class="dsh-img" ng-if="content.videoImage">
                    <img src="{{content.videoImage}}" alt="" />
                </div>
                <div class="dsh-del">
                	<div class="content-box">
                    	<p><span class="left-icon"><img src="./location.png" alt="" class=""></span><span>{{content.dishData.restaurant}}</span></p>
                    </div>
                    <div class="content-box">
                    	<p><span class="left-icon"><img src="./dish-name.png" alt="" class=""></span><span>{{content.dishData.dishName}}</span></p>
                    </div>
                    <div class="rate-box post-review">
                    	<ng-rate-it ng-model="content.rating" star-width="25" star-height="25" read-only="true"></ng-rate-it>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="col">
                	<p ng-if="content.dishData.comment" class="restu-details">
                    	{{content.dishData.comment}}
                    </p>
                    <p ng-if="!content.dishData.comment" class="restu-details">
                        No content found!
                    </p>
                </div>
            </div>
            <div class="row">
            	<div class="col">
                	<ion-list>
	  					<ion-checkbox ng-model="isChecked"><img src="/fbicon.png" class="fbicon" alt=""/>Share on Facebook</ion-checkbox>
                    </ion-list>
                </div>
            </div>
            <a href="javascript:void(0)" ng-click="content.postAndSave(isChecked)" class="next-btn">Post Review</a>
   		</div>
       
	</ion-content>
    
</ion-view>