<ion-view view-title="signIn">
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="bar bar-header bar-light head_bar">
           <div class="back_arrrow">
                <h2>{{profile.halfFirstname}}. {{profile.lastname}}</h2>
           </div>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="user-profile">
          <div class="row">
              <div class="user-image">
                  <img src="/user-image.png" alt="" />
                </div>
                <div class="content-wrap">
                    <div class="user-detail user-review">
                        <h3>100</h3>
                        <p>Reviews</p>
                    </div>
                    <div class="user-detail user-followes">
                        <h3>50</h3>
                        <p>Followers</p>
                    </div>
                    <div class="user-detail user-following">
                        <h3>43</h3>
                        <p>Following</p>
                    </div>
                    
                    <div class="bttn-wrap">
                        <button class="button button-block button-light edit-btn" ng-click="profile.redirectTo()">
                            <span><img src="/edit.png" alt=""/></span>
                            Edit Profile
                        </button>
                    </div>
                   
                </div>
                
            </div>
            <div class="row">
              <div class="col user-del">
                  <div class="user-name">
                      <h5>{{profile.firstname}} {{profile.lastname}}</h5>
                        
                    </div>
                    <p>{{profile.email}}</p>
                    <p>{{profile.profile.zip_code}}</p>
                </div>
            </div>
        </div>
    <div class="full_back suggest">
          <div class="row">
              <div class="col">
                  <h4 class="your-post">Your Post</h4>
                </div>
            </div>
      <div class="row">
              <div class="col col-33">
                    <div class="div1">
                        <img src="/d1.png"/>
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                    </div>
              </div>
                <div class="col col-33">
                    <div class="div1">
                        <img src="/d3.png"/>
                        
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                    </div>
                </div>
                <div class="col col-33">
                  <div class="div1">
                        <img src="/d1.png"/>
                        
                        <p class="dish-name">Burger with cheddar...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                  </div>
                </div>
      </div>
          <div class="row">
              <div class="col col-33">
                  <div class="div1">
                        <img src="/d1.png"/>
                        
                        <p class="dish-name">Burger with cheddar...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                  </div>
                </div>
                <div class="col col-33">
                  <div class="div1">
                        <img src="/d3.png"/>
                        
                        <p class="dish-name">Italian pizza salami</p>
                        <p class="resturant-name">KFC Restaurant</p>
                  </div>
                </div>
                <div class="col col-33">
                  <div class="div1">
                        <img src="/d1.png"/>
                        
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                  </div>
                </div>
         </div>
          <div class="row">
              <div class="col col-33">
                <div class="div1">
                        <img src="/d1.png"/>
                       
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                </div>
              </div>
                <div class="col col-33">
                    <div class="div1">
                        <img src="/d3.png"/>
                       
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="div1">
                        <img src="/d1.png"/>
                        
                        <p class="dish-name">Burger with cheddar...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                    </div>
                </div>
      </div>
      </div>
  </ion-content>
    
</ion-view>
