<ion-view view-title="Restaurant">
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="bar bar-header bar-light head_bar">
        	 <div class="back_arrrow">
        		<span class="sp2"><a ui-sref="tab.search"><img src="/left-arrow.png" alt=""/></a></span>	
               	<h2>{{restaurant.restaurantDishes[0].restaurant.name}}</h2>
        	 </div>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="full_back suggest restro-detail">
        	<div class="dish-image">
            	<!--<img ng-if="restaurant.restaurantDishes[0].restaurant.image" src="{{restaurant.restaurantDishes[0].restaurant.image}}" alt="">-->
                <img ng-src="{{restaurant.restaurantDishes[0].restaurant.image}}" err-SRC="/no-picture.gif" />
            </div>
            <div class="resturant-detail">
            	<div class="row">
                	<div class="col">
                    	<h3><span class="locatio-pin"><i class="icon ion-location"></i></span>{{restaurant.restaurantDishes[0].restaurant.address}}</h3>
                    </div>
                </div>
                
            </div>
			<div class="row" ng-repeat="dish in restaurant.restaurantDishes">
            	<div class="col div1">
                	<div class="row">
                    	<div class="col col-33">
                        	<div class="side-image-wrap">
                            	<img ng-if="dish.videoThumb" src="{{restaurant.rootUrl}}/  {{dish.videoThumb}}"/>
                                <img ng-if="dish.imageId" src="{{restaurant.rootUrl}}uploads/dishes/{{dish.imageId}}.jpeg"/>
                        	</div>
                            <span class="star-img">
                                <img ng-repeat="i in restaurant.getNumber(dish.averageReview) track by $index" src="/fill-star.png" alt=""/>
                                <img ng-if="restaurant.checkHalfStar(dish.averageReview)" src="/half-star.png" alt=""/>
                                <img ng-repeat="i in restaurant.printEmptyStar(dish.averageReview) track by $index" src="/empty-star.png" alt=""/>
                           </span>
                    	</div>
                    	<div class="col col-67">
                            <p class="dish-name">{{dish.name}}</p>
                            <p class="resturant-name">{{dish.comment}}</p>
                            <p class="post-date">Posted: {{restaurant.postedTime(dish.dateMillisecond)}}</p>
                    	</div>
                    </div>
                </div>
			</div>
   		</div>
	</ion-content>
</ion-view>
