<ion-view view-title="Restaurant">
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="bar bar-header bar-light head_bar">
        	 <div class="back_arrrow">
        		<span class="sp2"><a ng-click="restaurant.previousView()"><img src="/left-arrow.png" alt=""/></a></span>	
               	<h2>{{restaurant.restaurantDishes[0].restaurant.name}}</h2>
        	 </div>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="full_back suggest restro-detail" ng-if="restaurant.restaurantDishes">
        	<div class="dish-image">
            	<!--<img ng-if="restaurant.restaurantDishes[0].restaurant.image" src="{{restaurant.restaurantDishes[0].restaurant.image}}" alt="">-->
                <!-- <img ng-src="{{restaurant.restaurantDishes[0].restaurant.image}}" err-SRC="/no-picture.gif" /> -->
                <img ng-if="!restaurant.restaurantDishes[0].restaurant.imageId" ng-src="http://maps.googleapis.com/maps/api/streetview?location={{restaurant.restaurantDishes[0].restaurant.location.coordinates[1]}},{{restaurant.restaurantDishes[0].restaurant.location.coordinates[0]}}&size=600x300&heading=151.78&pitch=-0.76&key=AIzaSyAUJUzYmJ32tcslVbBX1j9HvKKKxnN7XJ8">
                <img ng-if="restaurant.restaurantDishes[0].restaurant.imageId" ng-src="/uploads/restaurant/{{restaurant.restaurantDishes[0].restaurant.imageId}}.{{restaurant.restaurantDishes[0].restaurant.extension}}">
            </div>
            <div class="resturant-detail">
            	<div class="row">
                	<div class="col" ng-click="restaurant.openMap(restaurant.restaurantDishes[0].restaurant.location.coordinates)">
                    	<h3><span class="locatio-pin"><i class="icon ion-location"></i></span>{{restaurant.restaurantDishes[0].restaurant.address}}</h3>
                    </div>
                </div>
                <div class="other-details">
                    <p><span>Website</span> : <a ng-click="restaurant.openLink(restaurant.results.website)">{{restaurant.results.website}}</a></p>
                    <p><span>Phone</span> : <a href="tel:+1-1800-555-5555">{{restaurant.results.phone}}</a></p>
                    <p><span>Opening hours</span> : {{restaurant.results.hours}}</p>
                </div>
            </div>
			<div class="row" ng-repeat="dish in restaurant.restaurantDishes">
            	<div class="col div1">
                	<div class="row">
                    	<div class="col col-33">
                        	<div class="side-image-wrap" ng-click="restaurant.redirectTo(dish._id)">
                            	<img ng-if="dish.videoThumb" src="{{restaurant.rootUrl}}/{{dish.videoThumb}}"/>
                                <img ng-if="dish.imageId" src="{{restaurant.rootUrl}}uploads/dishes/{{dish.imageId}}.{{dish.extension}}"/>
                        	</div>
                            <span class="star-img">
                                <img ng-repeat="i in restaurant.getNumber(dish.averageReview) track by $index" src="/fill-star.png" alt=""/>
                                <img ng-if="restaurant.checkHalfStar(dish.averageReview)" src="/half-star.png" alt=""/>
                                <img ng-repeat="i in restaurant.printEmptyStar(dish.averageReview) track by $index" src="/empty-star.png" alt=""/>
                           </span>
                    	</div>
                    	<div class="col col-67">
                            <p class="dish-name" ng-click="restaurant.redirectTo(dish._id)">{{dish.name}}</p>
                            <p class="resturant-name">{{dish.comment}}</p>
                            <p class="post-date">Posted: {{restaurant.postedTime(dish.dateMillisecond)}}</p>
                    	</div>
                    </div>
                </div>
			</div>
   		</div>
	</ion-content>
</ion-view>
