<ion-view view-title="Review">
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="bar bar-header bar-light head_bar rev-header">
      <div class="back_arrrow">
        <span class="sp2"><a ng-click="review.previousView()"><img src="/left-arrow.png" alt=""/></a></span>  
        <h2 class="logo-ig"><img src="/thedish.png"></h2>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="full_back suggest">
      <div class="dish-image" style="display: none;">
        <img src="/dish-view.png" alt="" />
      </div>

      <div class="btn-row round-btn" style="display:none;">
        <div class="center-btn">
          <div class="btn-wrap">
          </div>
        </div>
      </div>

      <div class="reviw-box">
        <div class="review-icons">
          
          <div class="row">
            <div class="col">
            <div class="top-wrap">
              <div class="icn-wrap">
                <a class="icon-img" ng-click="review.openGallery()">
                  <img src="/gallery.png" alt="" class="inactive">
                  <img src="/gallery-hover.png" class="active" alt="" style="display:none">
                </a>
              </div><p>Choose from gallery</p>
            </div>  
            </div>
          </div>

          <div class="row">
            <div class="col">
            <div class="top-wrap">
              <div class="icn-wrap">
                  <a class="icon-img" ng-click="review.captureVideo()">
                    <img src="/video.png" alt="" class="inactive">
                    <img src="/video-hover.png" alt="" style="display:none"  class="active">
                    
                  </a>
              </div><p>Shoot a video</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
            <div class="top-wrap">
              <div class="icn-wrap">
                
                  <a class="icon-img" ng-click="review.clickPicture()">
                    <img src="/cam.png" alt=""  class="inactive" style="display:none">
                    <img src="/cam-new.png" alt="" class="active">
                  </a>
                
              </div><p>Take a picture</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
    <!--<div class="bar-assertive suggest_foot review">
      <div class="tabs tabs-icon-top dish-view rev-tabs">
          <a class="tab-item" ng-click="review.openGallery()">
            <img src="/gallery.png" alt="" class="inactive">
            <img src="/gallery-hover.png" class="active" alt="" style="display:none">
          </a>
          <a class="tab-item" ng-click="review.clickPicture()">
             <img src="/cam.png" alt=""  class="inactive" style="display:none">
            <img src="/cam-hover.png" alt="" class="active">
          </a>
          <a class="tab-item" ng-click="review.captureVideo()">
            <img src="/video.png" alt="" class="inactive">
            <img src="/video-hover.png" alt="" style="display:none"  class="active">
          </a>
        </div>
    </div>-->
</ion-view>