<ion-view view-title="Search">
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="bar bar-header bar-light head_bar">
        	<div class="back_arrrow">
        		<!-- <span class="sp2"><a ui-sref="login"><img src="./arrrow_left.png" /></a></span> -->	
            <h2>Search for a dish</h2>
        	</div>
		</div>
	</ion-header-bar>
    
	<ion-content>
    	<div class="search-bar">
        	<div class="list">
              <label class="item item-input no-padding search-bg">
              	<div class="row">
                	<div class="col col-67 search-input">
                    	<img src="/search-icon.png" alt="" class="search-icon" />
                    	<input type="text" placeholder="Search...">
                    </div>
                    <div class="col col-33">
                    	<div class="select-style">
                            <select class="search-select search-bg">
                              <option selected>Filter</option>
                              <option>Green</option>
                              <option>Red</option>
                            </select>
                        </div>
                    </div>
                </div>
              </label>
            </div>
        </div>
		<div class="full_back suggest">
			<div class="row">
          		<div class="col col-33">
                    <div class="div1">
                        <img src="/d1.png"/>
                        <div class="rating-value">
                        	<span>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/half-star.png" alt=""/>
                            <img src="/empty-star.png" alt=""/>
                          </span>
                           <span class="pull-right">
                           		4mi
                           </span>
                    	</div>
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                    </div>
          		</div>
                <div class="col col-33">
                    <div class="div1">
                        <img src="/d3.png"/>
                        <div class="rating-value">
                        	<span>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/half-star.png" alt=""/>
                            <img src="/empty-star.png" alt=""/>
                          </span>
                           <span class="pull-right">
                           		2mi
                           </span>
                    	</div>
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                    </div>
                </div>
                <div class="col col-33">
                	<div class="div1">
                        <img src="/d1.png"/>
                        <div class="rating-value">
                        	<span>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/half-star.png" alt=""/>
                            <img src="/empty-star.png" alt=""/>
                          </span>
                           <span class="pull-right">
                           		2mi
                           </span>
                    	</div>
                        <p class="dish-name">Burger with cheddar...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                	</div>
                </div>
			</div>
        	<div class="row">
            	<div class="col col-33">
                	<div class="div1">
                        <img src="/d1.png"/>
                        <div class="rating-value">
                        	<span>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/half-star.png" alt=""/>
                            <img src="/empty-star.png" alt=""/>
                          </span>
                           <span class="pull-right">
                           		4mi
                           </span>
                    	</div>
                        <p class="dish-name">Burger with cheddar...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                	</div>
              	</div>
                <div class="col col-33">
                	<div class="div1">
                        <img src="/d3.png"/>
                        <div class="rating-value">
                        	<span>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/half-star.png" alt=""/>
                            <img src="/empty-star.png" alt=""/>
                          </span>
                           <span class="pull-right">
                           		2mi
                           </span>
                    	</div>
                        <p class="dish-name">Italian pizza salami</p>
                        <p class="resturant-name">KFC Restaurant</p>
                	</div>
              	</div>
                <div class="col col-33">
                	<div class="div1">
                        <img src="/d1.png"/>
                        <div class="rating-value">
                        	<span>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/half-star.png" alt=""/>
                            <img src="/empty-star.png" alt=""/>
                          </span>
                           <span class="pull-right">
                           		2mi
                           </span>
                    	</div>
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                	</div>
              	</div>
         </div>
        	<div class="row">
          		<div class="col col-33">
          			<div class="div1">
                        <img src="/d1.png"/>
                        <div class="rating-value">
                        	<span>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/half-star.png" alt=""/>
                            <img src="/empty-star.png" alt=""/>
                          </span>
                           <span class="pull-right">
                           		4mi
                           </span>
                    	</div>
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
            		</div>
          		</div>
                <div class="col col-33">
                    <div class="div1">
                        <img src="/d3.png"/>
                        <div class="rating-value">
                        	<span>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/half-star.png" alt=""/>
                            <img src="/empty-star.png" alt=""/>
                          </span>
                           <span class="pull-right">
                           		2mi
                           </span>
                    	</div>
                        <p class="dish-name">Tasty chicken tacos...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="div1">
                        <img src="/d1.png"/>
                        <div class="rating-value">
                        	<span>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/fill-star.png" alt=""/>
                            <img src="/half-star.png" alt=""/>
                            <img src="/empty-star.png" alt=""/>
                          </span>
                           <span class="pull-right">
                           		2mi
                           </span>
                    	</div>
                        <p class="dish-name">Burger with cheddar...</p>
                        <p class="resturant-name">KFC Restaurant</p>
                    </div>
                </div>
			</div>
   		</div>
	</ion-content>
</ion-view>
