<ion-view view-title="Edit Profile">
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="bar bar-header bar-light head_bar">
      <div class="back_arrrow">
        <span class="sp2"><a ui-sref="tab.profile"><img src="left-arrow.png" alt=""/></a></span>
        <h2>Edit Profile</h2>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="full_back suggest reviews h-auto">
      <div class="row">
        <div class="col">
          <div class="center-img">
            <img src="./user_none.png" alt=""/>
            <p><a href="javascript:void(0)">Change Photo</a></p>
          </div>
        </div>
      </div>
      <form name="Form" ng-submit="settings.update(Form)">
        <div class="row">
          <div class="col">
            <div class="review-form edit-profile">
              <div class="list list_item switch-notify">
                <label class="item-input item-floating-label">
                  <span class="icon-top user"><img src="./user.png" alt="" ></span>
                  <span class="icon-wrap">
                    <input type="text" placeholder="First Name" ng-model="settings.formData.firstname" required-error-message="This field is required!" validator="required, nameValidator">
                  </span>
                </label>
                <label class="item-input item-floating-label">
                  <span class="icon-top user"><img src="./user.png" alt="" ></span>
                  <span class="icon-wrap">
                    <input type="text" placeholder="Last Name" ng-model="settings.formData.lastname" required-error-message="This field is required!" validator="required, nameValidator">
                  </span>
                </label>
                <label class="item-input item-floating-label">
                  <span class="icon-top user"><img src="./zip.png" alt="" class=""></span>
                  <span class="icon-wrap">
                    <input type="text" placeholder="Zip Code" ng-model="settings.formData.zip_code" required-error-message="This field is required!" validator="required, zipValidator=6">
                  </span>
                </label>

                <label class="toggle toggle-balanced">
                  <span class="icon-top user"><img src="./notify.png" alt="" class=""></span> 
                  <input type="checkbox">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)" class="next-btn" ng-click="settings.update(Form)">Update</a>
      </form>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="/change_password" class="changepass">Change Password</a>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="javascript:void(0);" ng-click="settings.logout()" class="changepass">Logout</a>
      </div>
    </div>
  </ion-content>  
</ion-view>