<ion-view view-title="Edit Profile">
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="bar bar-header bar-light head_bar">
      <div class="back_arrrow">
        <span class="sp2"><a ui-sref="profile"><img src="./arrrow_left.png" /></a></span>  
        <h2>Edit Profile</h2>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="full_back suggest">
      <a ng-click="settings.logout()" style="cursor: pointer;"><strong>Logout</strong></a>
    </div>
  </ion-content>
</ion-view>