<ion-view view-title="Suggestions">
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="bar bar-header bar-light head_bar">
      <div class="back_arrrow">
        <h2>Suggested for you</h2>
      </div>
		</div>
	</ion-header-bar>
	<ion-content>
	
  <div class="full_back suggest suggest-wrap">
    <div ng-if="suggestion.suggestions.length">
      <div class="row" ng-repeat="dish in suggestion.suggestions" ng-if="$index % 3 == 0">
      	<div class="col col-33" ng-if="suggestion.suggestions[$index]">
          <div class="div1" ng-click="suggestion.redirectToDish(suggestion.suggestions[$index]._id, suggestion.uptoDecimal(suggestion.suggestions[$index].distance))">
            <img ng-if="suggestion.suggestions[$index].videoThumb" src="{{suggestion.rootUrl}}/{{suggestion.suggestions[$index].videoThumb}}"/>
            <img ng-if="suggestion.suggestions[$index].imageId" src="{{suggestion.rootUrl}}/uploads/dishes/{{suggestion.suggestions[$index].imageId}}.jpeg"/>
            <div class="rating-value">
            	<span >
                <img ng-repeat="i in suggestion.getNumber(suggestion.suggestions[$index].averageReview) track by $index" src="/fill-star.png" alt=""/>
                <img ng-if="suggestion.checkHalfStar(suggestion.suggestions[$index].averageReview)" src="/half-star.png" alt=""/>
                <img ng-repeat="i in suggestion.printEmptyStar(suggestion.suggestions[$index].averageReview) track by $index" src="/empty-star.png" alt=""/>
              </span>
              <span class="pull-right">
              	{{suggestion.uptoDecimal(suggestion.suggestions[$index].distance)}}mi
              </span>
        	  </div>
            <p class="resturant-name">{{suggestion.suggestions[$index].name}}</p>
            <p class="resturant-name">{{suggestion.suggestions[$index].restaurant.name}}</p>
          </div>
        </div>
        <div class="col col-33" ng-if="suggestion.suggestions[$index +1]">
          <div class="div1" ng-click="suggestion.redirectToDish(suggestion.suggestions[$index+1]._id, suggestion.uptoDecimal(suggestion.suggestions[$index+1].distance))">
            <img ng-if="suggestion.suggestions[$index+1].videoThumb" src="{{suggestion.rootUrl}}/{{suggestion.suggestions[$index+1].videoThumb}}"/>
            <img ng-if="suggestion.suggestions[$index+1].imageId" src="{{suggestion.rootUrl}}/uploads/dishes/{{suggestion.suggestions[$index+1].imageId}}.jpeg"/>
            <div class="rating-value">
            	<span>
                <img ng-repeat="i in suggestion.getNumber(suggestion.suggestions[$index+1].averageReview) track by $index" src="/fill-star.png" alt=""/>
                <img ng-if="suggestion.checkHalfStar(suggestion.suggestions[$index+1].averageReview)" src="/half-star.png" alt=""/>
                <img ng-repeat="i in suggestion.printEmptyStar(suggestion.suggestions[$index+1].averageReview) track by $index" src="/empty-star.png" alt=""/>                
              </span>
              <span class="pull-right">
               	{{suggestion.uptoDecimal(suggestion.suggestions[$index+1].distance)}}mi
              </span>
        	  </div>
            <p class="resturant-name">{{suggestion.suggestions[$index+1].name}}</p>
            <p class="resturant-name">{{suggestion.suggestions[$index+1].restaurant.name}}</p>
          </div>
        </div>
        <div class="col col-33" ng-if="suggestion.suggestions[$index+2]">
        	<div class="div1" ng-click="suggestion.redirectToDish(suggestion.suggestions[$index+2]._id, suggestion.uptoDecimal(suggestion.suggestions[$index+2].distance))">
            <img ng-if="suggestion.suggestions[$index+2].videoThumb" src="{{suggestion.rootUrl}}/{{suggestion.suggestions[$index+2].videoThumb}}"/>
            <img ng-if="suggestion.suggestions[$index+2].imageId" src="{{suggestion.rootUrl}}/uploads/dishes/{{suggestion.suggestions[$index+2].imageId}}.jpeg"/>
            <div class="rating-value">
            	<span>
                <img ng-repeat="i in suggestion.getNumber(suggestion.suggestions[$index+2].averageReview) track by $index" src="/fill-star.png" alt=""/>
                <img ng-if="suggestion.checkHalfStar(suggestion.suggestions[$index+2].averageReview)" src="/half-star.png" alt=""/>
                <img ng-repeat="i in suggestion.printEmptyStar(suggestion.suggestions[$index+2].averageReview) track by $index" src="/empty-star.png" alt=""/> 
                <!--<img src="/fill-star.png" alt=""/>
                <img src="/fill-star.png" alt=""/>
                <img src="/half-star.png" alt=""/>
                <img src="/empty-star.png" alt=""/> -->
              </span>
              <span class="pull-right">
               	{{suggestion.uptoDecimal(suggestion.suggestions[$index+2].distance)}}mi
              </span>
        	  </div>
            <p class="resturant-name">{{suggestion.suggestions[$index+2].name}}</p>
            <p class="resturant-name">{{suggestion.suggestions[$index+2].restaurant.name}}</p>
        	</div>
        </div>
  		</div>
 	  </div>
    <div class="no-suggestion" ng-if="suggestion.suggestions.length == 0">
      <div class="no-content">
        <h4>No suggestions currently available</h4>
        <p>Try the search icon below to search by tags and more</p>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>