<!-- <ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>
  
  <ion-tab icon-on="ion-android-globe" icon-off="ion-android-globe" href="/tab/suggestion">
    <ion-nav-view name="tab-suggestions"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios-search" icon-off="ion-ios-search" href="/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-fork" icon-off="ion-fork" href="/tab/review">
    <ion-nav-view name="tab-review"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="/tab/feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs> -->