<ion-tabs class="tabs-icon-top tab-icns">

  <ion-tab href="/tab/suggestion" icon-on="globe-off" icon-off="globe-on">
    <ion-nav-view name="suggestion-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-on="search-off" href="/tab/search" icon-off="search-on">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-on="dish-off"  icon-off="dish-off" ui-sref="tab.review" class="active">
    <ion-nav-view name="review-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab  icon-on="feed-off" ui-sref="tab.feed" icon-off="feed-on">
    <ion-nav-view name="feed-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-on="user-off" ui-sref="tab.profile" icon-off="user-on">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>