<ion-modal-view ng-controller="TagCtrl as tag">
	<ion-header-bar class="bar bar-header bar-positive pop_bar">
	  	<button class="button button-clear button-primary btn_pop" ng-click="tag.closeTagModal()" >Close</button>
	</ion-header-bar>
	<ion-content class="padding">
	  	<div class="popup_content">	
			<h1 class="sel_tag">Select Tags {{tag.modalName}}</h1>
			<div class="selector_pop">
				<ul>
					<li><a href="#">Pizza</a></li>
					<li><a href="#">Sandwich</a></li>
					<li><a href="#">coffee</a></li>
					<li><a href="#">Chicken</a></li>
					<li><a href="#">noodles</a></li>
				</ul>
			</div>
			<div class="reg_dv1">
				<button class="button button-light log_btn" ng-click="openModal()">Add</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>