<ion-view view-title="Intro">
  <div class="background-bg">
    <ion-slide-box on-slide-changed="home.slideChanged(index)">
      <ion-slide>
        <div class="img1">
            <div class="content1">
                <h2>Find the dishes you love.</h2>
                <p>Beautiful and delicious dishes from restaurants near you</p>
            </div>
    
        </div>
      </ion-slide>
      <ion-slide>
        <div class="img2">
            <div class="content1">
                <h2>Share and record your culinary experiences</h2>
                <p>Rate and review your dishes with photo and video</p>
            </div>
    
        </div>
      </ion-slide>
      <ion-slide>
         <div class="img3">
            <div class="content1">
                <h2>Discover foodies and get recommendations </h2>
                <p>Follow the food lovers you resonate with</p>
            </div>
    
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="btm_btn">
        <a href="/signup" class="create"><span>CREATE ACCOUNT</span></a>
        <a href="/login" class="login"><span>LOGIN </span></a>
    </div>
  </div>
</ion-view>